html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  font-family: Helvetica;
  line-height: 1.4;
} 

.bigbox {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 0 auto;
}

/*Header*/
header {
  display: flex;
  color: white;
  width: 100%;
  height: 31rem; 
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
}

.logo img{
  height: 1.5rem;
  margin-right: 1rem;
}

nav ul{
  display: flex;
}

nav li {
  margin-left: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
}

/*Banner*/
.flex-container {
  display: flex;
  justify-content: flex-end;
}  

.banner {
  display: inline-block;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;
  margin-right: -2em;
  padding: 1.5rem 5rem;
}

/*Main-Services*/
.services {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.service {
  display: flex;
  min-width: 5rem;
  flex-direction: column;
  max-height: 8rem;
  text-align: center;
  margin: 0 3rem;
}

.service img {
  max-width: 5rem;
  max-height: 8rem;
}

.paper {
  width: 3.5rem;
  margin: 0 1.75rem; 
}

.ruler, .truck {
  margin-bottom: auto;
}

/*Main-Biz*/
.about {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.biz {
  width: 35%;
  margin: 0 2.5%;
}

.box {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}
/*Footer*/
footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: azure;
  padding: 4rem;
}

footer .logo {
  display: flex;
  background-color: azure;
}

/*Media Queries < 1024px*/
@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
  }
  .bigbox {
    width: 100%;
  }
  .navbar {
    margin-top: 0;
  }
  .banner {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

/*Media Queries < 480px*/
@media only screen and (max-width: 480px) {
  header {
    height: 17rem;
    background-position: 20%;
  }
  .logo span {
    display: none;
  }
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  .banner {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin: 9rem 0 0 0;
    padding: 0.5rem 0;
  }
  .services {
    flex-direction: column;
    font-size: 0.77rem;
    padding: 3rem 0 2rem 0;
  }
  .service {
    align-items: center;
    margin-bottom: 1.54rem;
  }
  .about {
    flex-direction: column;
    margin: auto;
  }
  .biz {
    width: auto;
    font-size: 0.8rem;
    margin-bottom: 4rem;
  }
  .box {
    width: auto;
    text-align: center;
  }
  footer {
    width: auto;
    justify-content: center;
  }
}